.nav-containerWrap {
  position: sticky;
  top: 0%;
  transition: 0.5s;
  z-index: 2;
  color: black;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem;
  position: sticky;
  top: 0%;
  transition: 0.5s;
  z-index: 2;
}

.active {
  background-color: #fff;
  transition: 1s;
  padding: 0.3rem 1rem;
}

.nav-slideContainer-blur {
  position: fixed;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.nav-slideContainer-content {
  position: fixed;
  height: 100%;
  width: 68%;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 2;
  padding-left: 1.5rem;
  padding-top: 4rem;
  overflow-y: scroll;
}

.nav-hamburger {
  background-color: #fff;
  border-radius: 50%;
}

.subscribe-container {
  padding: 2rem;
  display: flex;
  width: auto;
  height: 47%;
  justify-content: center;
  align-items: flex-end;
  margin-right: 1.5rem;
}

@media screen and (min-width: 768px) {
  .nav-container {
    padding: 1rem 2.4rem;
  }
  .active .nav-container {
    padding: 0rem 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .nav-container {
    width: 90%;
    margin: auto;
    padding: 1.5rem 0;
  }
  .active .nav-container {
    padding: 1rem 0rem;
  }
}

@media screen and (min-width: 1440px) {
  .nav-container {
    max-width: 90%;
  }

  .active .nav-container {
    padding: 1rem 0;
  }

  .active {
    padding: 0;
  }
}
