@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.subscribe-container {
  margin: auto;
  background-color: aquamarine;
}

.monkai-logo {
  width: 80%;
  margin: auto;
  padding-right: 15px;
}

.logo-text {
  font-family: "Chakra Petch", sans-serif;
  font-size: 10vw;
  font-weight: bold;
  font-style: italic;
}

@media screen and (min-width: 580px) {
  .logo-text {
    font-size: 6vw;
  }
}
